
body{
    background-color:rgb(240, 240, 240);}


.container{ 
width:70%;
height: 300px;
margin: 2% auto 0 auto;
            
     }
/* ----------nav.bar------------- */

.first{
height:50px;
width:101%;
background-color:#7D3838;

    }

nav{
display: flex; 

    }

.navbar{
width:100%;
height: 50px;
margin-left:30%;
margin-right:5%;
margin-right:0;
display: flex;
justify-content: space-around;
list-style:none;
background-color:#7D3838;
}
.navbar a{
    color: white;
}
/* ----------home------------- */

section{
display: flex;   
} 

.info{
width:144%;
position:relative;
right:402px;
bottom: 1px;
top: 10px;
margin-left:0%;
margin-right:0%;
height:60px;

    
}

.info .obj{ 
width:100%;
height:60px;
margin-left:30%;
margin-right:5%;
margin-right:0;
display: flex;
border: 1px solid black ;
list-style:none;
background-color:white;}

.cv{
    padding-left: 20px;
}

.cv .btn {
    background-color: #7D3838;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    display: inline-block;    
}
/* ----------education------------- */

section.education{
background: white;
margin-top:30%;

}

.education .main1{
display: flex;
justify-content: center;
color: #7D3838;
font-family: Georgia, 'Times New Roman', Times, serif;
  
}
.education-head{
color:#7D3838;
text-align: center;
margin-bottom:4rem;
line-height: 0.5rem;

}
.education-head + p{
font-family: 'Lato', sans-serif;
margin-bottom: 1rem;
text-align: center;
margin-bottom: 6rem;
font-weight: 400;

}

section.education .card-grid{
width:150%;
display: grid;
grid-template-columns: repeat(4,1fr);
column-gap: 2rem;
position: relative;
right:150px;

}
section.education .card-grid .card{
padding: 3rem 2rem;
color: white;
background-color: #7D3838;
text-align: center;
text-decoration: underline;

}

section.education .card-grid .card h2{
font-weight: 600;
font-size: 1.2rem;
margin-bottom: 0.5rem;
}
section.education .card-grid .card p{
font-family: 'Lato', sans-serif;
line-height: 1.6;
}
/* ----------projects------------- */

section.projects{
background:white;
margin-top:20%;
    
    }
    
.projects .main2{
display: flex;
justify-content: center;
color: #7D3838;
font-family: Georgia, 'Times New Roman', Times, serif;
      
    }
.projects-head{
color:#7D3838;
text-align: center;
margin-bottom:4rem;
line-height: 0.5rem;
color: var(--primary);
    }
.projects-head + p{
font-family: 'Lato', sans-serif;
margin-bottom: 1rem;
text-align: center;
margin-bottom: 6rem;
font-weight: 400;
    
    }
.card img{
width:100%;
background:white;

    }


section.projects .card-grid{
width:150%;
display: grid;
grid-template-columns: repeat(2,1fr);
column-gap: 2rem;
    }
section.projects .card-grid .card{
position: relative;
right:150px;
padding: 2rem 2rem;
color: white;
background-color: #7D3838;
text-align: center;
}
    
section.projects .card-grid .card h2{
font-weight: 600;
font-size: 1.2rem;
margin-bottom: 0.5rem;
text-decoration: underline;
    }
section.projects .card-grid .card p{
font-family: 'Lato', sans-serif;
line-height: 1.6;

    }
/* ----------experience------------- */

section.experience{
background: white;
margin-top:50%;
    
    }
    
.experience .main3{
display: flex;
justify-content: center;
color: #7D3838;
font-family: Georgia, 'Times New Roman', Times, serif;
      
    }
.experience-head{
color:#7D3838;
text-align: center;
margin-bottom:4rem;
line-height: 0.5rem;
    }
.experience-head + p{
color: var(--white);
font-family: 'Lato', sans-serif;
margin-bottom: 1rem;
text-align: center;
margin-bottom: 6rem;
font-weight: 400;
    
    }
    
section.experience .card-grid{
width:308%;
height:250px;
display: grid;
grid-template-columns: repeat(4,1fr);
column-gap: 2rem;
position: relative;
right:350px;
    
    }
section.experience .card-grid .card{
position: relative;
left:200px;
padding: 3rem 2rem;
color: white;
background-color: #7D3838;
text-align: center;
    }
    
section.experience .card-grid .card h2{
font-weight: 600;
font-size: 1.2rem;
margin-bottom: 0.5rem;
text-decoration: underline;
    }
section.experience .card-grid .card p{
font-family: 'Lato', sans-serif;
line-height: 1.6;
    }

/* ----------skills------------- */

 section.skills{
    background: white;
    margin-top:10%;
    
    }
    
    .skills .main4{
    display: flex;
    justify-content: center;
    color: #7D3838;
    font-family: Georgia, 'Times New Roman', Times, serif;
      
    }
    .skills-head{
    color:#7D3838;
    text-align: center;
    margin-bottom:4rem;
    line-height: 0.5rem;
    }
    .skills-head + p{
    font-family: 'Lato', sans-serif;
    margin-bottom: 1rem;
    text-align: center;
    margin-bottom: 6rem;
    font-weight: 400;
    
    }
    
    section.skills .card-grid{
    width:151%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 2rem;
    position: relative;
    right:150px;
    
    }
    section.skills .card-grid .card{
    padding: 3rem 2rem;
    color: white;
    background-color: #7D3838;
    text-align: center;
   
    }
    
    section.skills .card-grid .card h2{
    font-weight: 600;
    text-decoration: underline;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    }
    section.skills .card-grid .card h3{
    text-align:left;
    font-size: large;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    } 
  

/* ----------footer------------- */

#footer{
	width: 100%;
	height: auto;
	margin-top:20%;
	background:#7D3838;
	padding: 20px 0px;
	
}
.f-icon{
	width: 100%;
	height:20px;
	margin: auto;
}
.f-icon ul{
	margin: 0px;
	padding: 0px;
	text-align: center;
}

.f-icon ul li{
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 0px 10px;
	border-radius: 100%;
	background:#7D3838; 
}
.f-icon ul li a{
	text-decoration: none;
	color:white;
	font-size: 25px;
	display: block;
}
.f-icon ul li a i{
	line-height: 50px;
}

/* .f-icon ul li a:hover >i{
	transform: scale(1.6) rotate(25deg);
} */
.f-nav{
	width: 100%;
	height: auto;
	margin: auto;
	margin-top: 25px;
}
.f-nav ul{
	margin: 0px;
	padding: 0px;
	text-align: center;
}


.f-nav ul li{
	display: inline-block;
	margin: 10px 20px;	 
}
.f-nav ul li a{
	text-decoration: none;
	outline: none;
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
}


.f-nav1{
	width: 100%;
	height: auto;
	margin: auto;
	margin-top: 15px;
}
.f-nav1 ul{
	margin: 0px;
	padding: 0px;
	text-align: center;
}


.f-nav1 ul li{
	display: inline-block;
	margin: 0px 20px;	 
}
.f-nav1 ul li a{
	text-decoration: none;
	outline: none;
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.f-nav2{
	width: 100%;
	height: auto;
	margin: auto;
}
.f-nav2 ul{
	
	text-align: center;
}

.f-nav2 ul li{
	
	width: 50px;
	height: 50px;
	margin: 0px 10px;
	border-radius: 100%;
	background:#fff; 
}
.f-nav2 ul li a{
	text-decoration: none;
	color: #272727;
	font-size: 25px;
	display: block;
}
.f-nav2 ul li a i{
	line-height: 50px;
}

.f-nav2 ul li a:hover >i{
	transform: scale(1.6) rotate(180deg);
}
/* ----------mediaquery------------- */
/* ----------mediaquerynavbar------------- */
